.search-button {
  $this: &;

  background-color: $color-white;
  border-radius: 2px;
  border: none;
  padding: 12px;

  &__icon {
    color: $color-orange;
    height: 30px;
    width: 30px;
  }

  &:hover {
    background-color: lighten($color-light-orange, 10%);
    cursor: pointer;
    transition: background-color 0.3s ease-out;

    #{$this}__icon {
      color: $color-white;
      transition: color 0.3s ease-out;
    }
  }
}
