.search-container {
  align-items: center;
  background: linear-gradient(0.25turn, $color-light-orange, $color-dark-orange);
  display: flex;
  justify-content: space-between;
  padding: 24px 26px 26px;
}
