// Pallette
$color-black: black;
$color-dark-grey: #39424a;
$color-dark-orange: #e93f33;
$color-light-grey: #667580;
$color-light-orange: #ec6633;
$color-orange: #e83f33;
$color-white: #fff;

// Fonts
$color-font: #18282f;
$color-font-inverse: $color-white;

// Layout
$xs-margin: 6px;
$s-margin: 10px;
